<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="xyz.kumaraswamy.itoo">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application>
        <service android:name="xyz.kumaraswamy.itoo.ItooService"
                 android:process=":doraemon"
                 android:exported="true"/>

        <service android:name="xyz.kumaraswamy.itoo.ItooJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE"
                 android:process=":doraemonx"
                 android:exported="true"/>

        <receiver android:name="xyz.kumaraswamy.itoo.ItooReceiver"
                  android:exported="true"/>

        <receiver android:name="xyz.kumaraswamy.itoo.BootReceiver"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>

        <receiver android:name="xyz.kumaraswamy.itoo.AlarmReceiver"
                  android:exported="true"/>

    </application>
</manifest>
